body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  background: #f9f9ff;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

h6 {
  font-size: 14px;
}
img {
  object-fit: contain;
}

.intro-text {
  margin-bottom: 30px;
  margin-left: 10vw;
  font-size: 16px;
}

.banner-area {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.banner-area .fullscreen {
  /* height: 750px !important; */
}

.banner-left h6 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.banner-left h1 {
  margin: 20px 0px 10px 0px;
  font-size: 50px;
  text-transform: uppercase;
}

.banner-left h3 {
  margin-bottom: 20px;
}

.banner-left p {
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

@media (max-width: 991px) {
  .banner-left h1 {
    font-size: 30px;
  }

  .container {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .banner-left {
    margin-top: 50px;
  }

  .img-fluid {
    height: 350px;
  }
}

.banner-right {
  text-align: center;
}

@media (max-width: 991px) {
  .banner-right {
    align-self: center !important;
  }
}

@media (max-width: 767px) {
  .banner-right {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.primary-btn {
  background: #8490ff;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: default;
  position: relative;
}

.primary-btn {
  margin-top: 20px;
}

.banner-left .primary-btn {
  background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

/* .banner-left .primary-btn:hover {
  box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
} */

.primary-btn:hover {
  color: #fff;
}
